@font-face {
    font-family: "Lato";
    src: url(./fonts/Lato-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Lonely";
    src: url(./fonts/Lonely\ Sandwich.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "RMNeue";
    src: url(./fonts/RMNeue-Light.ttf);
    font-weight: lighter;
}

*{
    margin: 0;
    padding: 0;
    font-family: "RMNeue";
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    /* border-radius: 8px; */
}

body{
    background: hsla(222, 17%, 12%, 1);
    background: linear-gradient(225deg, hsla(222, 17%, 12%, 1) 48%, hsla(209, 100%, 31%, 1) 100%);
    background: -moz-linear-gradient(225deg, hsla(222, 17%, 12%, 1) 48%, hsla(209, 100%, 31%, 1) 100%);
    background: -webkit-linear-gradient(225deg, hsla(222, 17%, 12%, 1) 48%, hsla(209, 100%, 31%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#191C23", endColorstr="#00529F", GradientType=1 );
}

h2{
    padding-bottom: 50px;
}

h4{
    color: #fff;
    padding-bottom: 50px;
}

hr{
    width: 20%;
    margin: 150px auto;
    border: 1px solid #fff;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

header{
    position: sticky;
    top: 0;
    background-color: rgba(25, 28, 35, 0.6);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    transition: 0.3s;
}

.logo a{
    display: block;
}

.logo a img{
    display: block;
    width: 50px;
    filter: drop-shadow(2px 2px 20px #fff);
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li{
    list-style-type: none;
    width: 100%;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover{
    box-shadow: 0 -5px 0px #fff inset;
    padding: 35px 25px 45px 25px;
}

/** HAMBURGER */

.hamburger{
    position: relative;
    width: 30px;
    height: 2px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger::before,
.hamburger:after{
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger::before{
    top: -10px;
    width: 20px;
}

.hamburger:after{
    top: 10px;
    width: 25px;
}

.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.toggle-menu {
    display: none;
}

.navigation input:checked ~ .hamburger{
    background: transparent;
}

.navigation input:checked ~ .hamburger:before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked ~ .hamburger:after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu{
    right: 0;
}

/** BANNER **/

.banner{
    background-image: url(./images/thumb-1920-1359457.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-side{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: rgba(25, 28, 35, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

.text-side h1{
    text-align: center;
}

.text-side h1 span{
    color: #FEBE10;
    font-family: "Lonely";
}

.text-side p{
    text-align: center;
    width: 75%;
}

.btn {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    /* padding: 5px; */
    background-color: #191C23;
    border-radius: 50%; 
    text-align: center; 
    background-color: rgba(25, 28, 35, 0.6);
}

.btn:hover {
    background-color: rgba(254, 190, 16, 0.1);
}

.text-side img{
    width: 50px;
}

/* NEWS */

#news{
    height: 100vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-around

}

#news h2{
    display: flex;
    justify-content: center;
    color: #fff;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 50px;
    border: 1px smooth #191C23;
    /* width: fit-content; */
    margin: 0 auto;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.grid-item:hover{
    cursor: pointer;
    transform: scale(1.10);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}


.grid-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.grid-item a span{
    color: #FEBE10;
}
article img{
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

/* PALMARES */

#palmares{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#palmares h2{
    color: #fff;
}

.trophy{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    border-radius: 8px;
}

.trophy:hover{
    cursor: pointer;
    transform: scale(1.10);
    box-shadow: 0px 0px 15px rgb(255, 255, 255);
}

.left-contain img{
    opacity: 0.5;
    object-fit: cover;
}

.right-contain{
    margin: 0 auto;
}

.right-contain a{
    font-size: large;
    color: #fff;
    display: flex;
    flex-direction: column;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    padding-bottom: 300px;
    margin-top: 50px;
    background-image: url(./images/footerldc.svg);
    background-position: unset;
    background-size: cover;
    background-repeat: no-repeat;
}

footer hr{
    margin: 50px auto;
    border: 1px solid #fff;
}

footer section{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer section .social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
}

footer section .logo img{
    width: 50px;
}

.item-social img{
    width: 50px;
}

.social{
    display: flex;
}

.mentions{
    color: #fff;
}

.mentions a{
    color: #fff;
}


/* REPONSIVE DESKTOP */

@media (max-width: 1024px) {
    

    hr{
        margin: 100px auto;
    }

    .hamburger,
    .toggle-menu {
        display: block;
    }

    header{
        padding: 10px 20px;
    }

    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background-color: rgba(25, 28, 35, 0.6);
        width: 300px;
        height: 100%;
        padding-top: 65px;
        box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3);
    }

    .menu li a,
    .menu li a:hover{
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }

    #news{
        height: 100%;
    }
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }

    footer section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

/* RESPONSIVE MOBILE */

@media (max-width: 768px) {
    
    .trophy{
        flex-direction: column;
        width: fit-content;
        width: 400px;
        height: 600px;
    }

    .trophy .left-contain img{
        width: 100%;
    }

    .right-contain{
        margin: 50px auto;
    }
}